<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.review.dao.mapper.ReviewMapper">
	<resultMap type="com.java.review.dto.ReviewDto" id="review_dto">
		<result column="NUM" property="num"/>	
		<result column="M_ID" property="m_id"/>	
		<result column="P_NUM" property="p_num"/>	
		<result column="RATE" property="rate"/>	
		<result column="CONTENT" property="content"/>	
		<result column="IMG" property="img"/>	
		<result column="R_DATE" property="r_date"/>	
	</resultMap>
	
	<select id="pNum_Review" parameterType="int" resultMap="review_dto">
		select * from review where p_num=#{pnum} order by num
	</select>

	<select id="ReviewInProduct" parameterType="int" resultMap="review_dto">
		<![CDATA[
		select x.NUM, x.M_ID, x.P_NUM, x.RATE, x.CONTENT, x.IMG, x.R_DATE from 
				(select rownum as rnum, a.* from
					(select * from review where p_num=#{p_num} order by r_date desc) A where ROWNUM <= #{end}) X where x.rnum >= #{start}
		]]>	
	</select>
</mapper>